body
{
	font-family: 'Roboto', sans-serif;
}

#Logo
{
	width: 200px;
}

.formulario
{
	display: inline-block;
	width: 50%;
}


.calendar
{
	display: inline-block;
}

.calendar table
{
	border-collapse: collapse;
}

.calendar table td
{
	padding: 5px;
}