body
{
	font-family: 'Roboto', sans-serif;
}

#Logo
{
	width: 200px;
}

.formulario
{
	display: inline-block;
	width: 40%;
}


.calendar
{
	display: inline-block;
	border-collapse: collapse;
	width: 50%;
	background-color: aliceblue;
}